
section{
        form {
        margin: 3em 0;
        width: 100%;
        padding: 0 3em;
        mat-form-field {
            width: 100%;
        }
        .buttons {
            margin-top: 2em;
        }
    }
}

.view-more {
    margin: 3em;
    aside {
       padding: 1em;
       .first-row {
           .home-analysis, .away-analysis, .draw-analysis  {
                mat-list {
                    mat-list-item {
                        border-bottom: 1px solid #eee;
                        width: 100%;
                        padding: 0.8em 0;
                        div {
                            .title {
                                color: inherit
                            }
                            .info {
                                color: gray;
                                mat-progress-bar {
                                    width: 8em;
                                }
                            }
                        }
                    }
                }              
           }
        }
        .second-row {
            mat-list {
                padding-bottom: 1em;
                p {
                    padding-left: 1.1em;
                    font-size: 0.8em;
                    color: gray;
                }
                mat-list-item {
                    div {
                        height: inherit;
                        .title {
                            span {
                                
                                mat-icon {
                                    font-size: 1.3em;
                                    color: rgb(133, 133, 24);
                                    margin-top: 1em;
                                    cursor: pointer;
                                }
                            }
                        }
                        .info {
                            margin-top: 3em;
                            color: gray;
                        }
                    }
                }
            }
            mat-slide-toggle {
                padding-left: 1em;
            }
        }
    }
}